
.bubbles {
    width: 100%;
    display:block;
}
.tinyimg {
    width: 7%;
    border: 6px solid rgb(68, 68, 68);
    border-radius: 50%;
    display: inline;
    margin: 2%;
}
body {
    margin: 0;
    text-align: center;
    background-color: gray;
}
